* {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5e8b8;
  flex-direction: column;
}
p {
  font-size: 3rem;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  line-height: 6rem;
}
.face {
  border: 1px solid black;
  background-color: #f9d1ad;
  border-radius: 0% 0% 40% 40%;
  border-bottom: 2px solid black;
  width: 420px;
  /* box-shadow: 0px 1px 25px black; */
  height: 455px;
  -webkit-border-radius: 0% 0% 40% 40%;
  -moz-border-radius: 0% 0% 40% 40%;
  -ms-border-radius: 0% 0% 40% 40%;
  -o-border-radius: 0% 0% 40% 40%;
  z-index: 1;
}
.flexEyebrows {
  display: flex;
  width: 100%;
  position: relative;
  top: 5%;
  justify-content: space-around;
  align-content: center;
  align-items: baseline;
  height: auto;
  z-index: 100;
}
.eyebrow {
  background-color: black;
  width: 150px;
  padding: 12px 16px;
  margin-top: 85px;
}

.eyebrow.left {
  transform: skew(20deg, 20deg);
  -webkit-transform: skew(20deg, 20deg);
  -moz-transform: skew(20deg, 20deg);
  -ms-transform: skew(20deg, 20deg);
  -o-transform: skew(20deg, 20deg);
}
.eyebrow.right {
  transform: skew(-20deg, -20deg);
  -webkit-transform: skew(-20deg, -20deg);
  -moz-transform: skew(-20deg, -20deg);
  -ms-transform: skew(-20deg, -20deg);
  -o-transform: skew(-20deg, -20deg);
}
.eyes {
  width: 100%;
  display: flex;
  height: 150px;
  justify-content: space-around;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.shadowL {
  filter: drop-shadow(-3px 0px 0px black);
  -webkit-filter: drop-shadow(-3px 0px 0px black);
}
.shadowR {
  filter: drop-shadow(3px 0px 0px black);
  -webkit-filter: drop-shadow(3px 0px 0px black);
}

.eyeL {
  width: 160px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
  border-top-right-radius: 65px;
  border-bottom-right-radius: 35px;
  clip-path: path("M18, 0 Q-12, 40 8, 140 L160,100 L160, 40 Z");
}
.eyeR {
  width: 160px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
  border-top-right-radius: 65px;
  border-bottom-right-radius: 35px;
  clip-path: path("M18, 0 Q-12, 40 8, 140 L160,100 L160, 40 Z");
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.eyecolor {
  width: 30px;
  height: 60px;
  margin: 10px;
  border-radius: 50px;
  background-color: black;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.cheeks {
  width: 85px;
  height: 20px;
  border-top: 3px solid black;
  border-radius: 70%;
}
.cheeks.rel {
  width: 100px;
  position: relative;
  top: -5px;
  right: 22px;
  border-radius: 50%;
}
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
.nose {
  width: 50px;
  height: 50px;
  border-top: 5px solid black;
  border-radius: 50px;
}
.mouth {
  width: 120px;
  height: 50px;
  border-radius: 50%;
  border-bottom: 5px solid black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.ears {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ear {
  width: 65px;
  height: 140px;
  background-color: #f9d1ad;
  border-radius: 50%;
  border: 2px solid black;
  transform: rotate(190deg);
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 18px;
  border-bottom-right-radius: 45px;
}
.inner-circle {
  width: 47px;
  height: 90px;
  background-color: #e5a672;
  border-radius: 50%;
  position: relative;
  top: 18px;
  border: 2px solid black;
  transform: rotate(173deg);
}
.inner-circle2 {
  background-color: #f9d1ad;
  border-radius: 50%;
  width: 25px;
  height: 45px;
  position: relative;
  top: 22px;
  border-bottom: 0.5px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  transform: rotate(115deg);
  position: relative;
  left: 10px;
}
.ear.earL {
  transform: scaleX(-1) rotate(190deg);
  right: -14px;
}
.semicircle {
  background-color: black;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
}
.halfmoon {
  margin: auto;
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 245px;
  left: 0;
  width: 72px;
  height: 72px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 30px 20px 0px 30px rgb(16 1 1);
  z-index: 3;
  transform: rotate(235deg) scale(2);
}
.hair {
  width: 158px;
  height: 80px;
  position: relative;
  top: 292px;
  right: 190px;
  z-index: 3;
  transform: rotate(-70deg);
}
.hairL {
  width: 207px;
  height: 80px;
  position: relative;
  top: 188px;
  z-index: 3;
  left: 178px;
  transform: rotate(79deg) scaleX(-1);
  -webkit-transform: rotate(68deg) scaleX(-1);
  -moz-transform: rotate(79deg) scaleX(-1);
  -ms-transform: rotate(79deg) scaleX(-1);
  -o-transform: rotate(79deg) scaleX(-1);
}
.hair1 {
  width: 390px;
  height: 133px;
  position: relative;
  top: -8px;
  right: 157px;
  z-index: 1;
  transform: rotate(45deg);
}
.hair1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 15px;
  background: linear-gradient(to bottom, rgb(16 1 1), rgb(138 125 100));
}
.hair2 {
  width: 390px;
  height: 145px;
  position: absolute;
  top: 270px;
  transform: rotate(25deg);
  left: 495px;
}
.hair3 {
  width: 390px;
  height: 124px;
  position: absolute;
  top: 420px;
  transform: rotate(15deg);
  left: 498px;
}
.hair4 {
  width: 265px;
  height: 85px;
  position: absolute;
  top: 530px;
  transform: rotate(6deg);
  left: 590px;
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
}
.hair5 {
  width: 189px;
  height: 45px;
  position: absolute;
  top: 615px;
  left: 645px;
}
.hair6 {
  width: 360px;
  height: 120px;
  position: absolute;
  bottom: 68%;
  left: 40%;
  z-index: 2;
}
.hair7 {
  width: 107px;
  height: 114px;
  position: absolute;
  bottom: 52%;
  left: 47%;
  border-radius: 50%;
  box-shadow: 0px -34px 0px 22px black;
  z-index: 2;
  transform: scaleX(0.9) scale(1.6);
}
.hair8 {
  width: 171px;
  height: 6px;
  position: absolute;
  top: 370px;
  right: 46%;
  z-index: 3;
  transform: rotate(-79deg);
}
.hair9 {
  width: 157px;
  height: 78px;
  position: absolute;
  top: 33%;
  right: 52%;
  z-index: 3;
  transform: rotate(280deg);
}
.hair10 {
  width: 175px;
  height: 91px;
  position: absolute;
  top: 32%;
  right: 39%;
  z-index: 3;
  transform: rotate(-280deg) scaleX(-1);
}
.hair11 {
  width: 160px;
  height: 24px;
  position: absolute;
  top: 29%;
  right: 38%;
  z-index: 3;
  transform: rotate(-45deg);
}
